#join {
	height: 40vh;
	transform: translateY(100%);
}

#create {
	height: 50vh;
	transform: translateY(100%);
	color: white;
}

#error {
	color: red;
	font-size: medium;
}

#JoinOrCreate {
	color: black;
	height: 100vh;
}

#inputBox {
	padding: 15px;
}