#header {
	height: 5vh;
	transform: translateY(100%);
}
#join {
	height: 30vh;
	transform: translateY(100%);
}

#create {
	color: white;
}

#error {
	color: red;
	font-size: medium;
}

#JoinOrCreate {
	height: 100vh;
}

#inputBox {
	padding: 15px;
}