#login-buttons {
	/* transform: translateY(40%); */
	height: 100vh;
	color: white;
}

#spotify-button {
	height: 40vh;
	transform: translateY(100%);
}

#guest-button {
	height: 30vh;
	transform: translateY(100%);
}
