.playback-footer {
    background: rgba(0, 0, 0, 0.377);
    bottom: 0;
    width: 100%;
    overflow: auto;
    position: fixed;
}
/** Now Playing **/

.now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.now-playing__artist {
    margin-bottom: 1em;
}

.now-playing__status {
    margin-bottom: 1em;
}

.playback-col img {
    width: 10vw;
}

.now-playing__side {
    margin-left: 5%;
    width: 45%;
}

.playback-row {

}

.playback-col {
    float: left;
    width: 33%;
}

#playpausebutton {
    
}