.playback-footer {
	background: rgb(151, 151, 151);
	bottom: 0;
	width: 60%;
	overflow: hidden;
	position: fixed;
	height: 165px;
	line-height: 165px;
}
/** Now Playing **/

.now-playing__name {
	font-size: 1.5em;
}

.now-playing__artist {
	margin-bottom: 1em;
}

.now-playing__status {
	margin-bottom: 1em;
}

.playback-col img {
	width: 10vw;
}

.now-playing__side {
	margin-left: 5%;
	width: 45%;
}

.playback-col {
	float: left;
	width: 33%;
	display: table;
}

#content {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
