#art-column {
	float: left;
	width: 25%;
	justify-content: right;
}

#info-column {
	float: left;
	width: 75%;
	padding: 25px 0;
}

/* Clear floats after the columns */
#row:after {
	content: "";
	display: table;
	clear: both;
	height: 5%;
}

#row {
	background-color: white;
	height: 15vh;
}

#row:hover {
	background-color: gainsboro;
}

.imgz {
	width: 60%;
	margin: 10px;
}

#song-title {
	float: left;
	font-size: 20px;
	color: black;
}

#song-artist {
	float: left;
	font-size: 16px;
	color: grey;
}
