.column-1 {
    float: left;
    width: 25%;
    justify-content: right;
  }
  

.column-2 {
    float: left;
    width: 75%;
    padding: 5px 0;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height: 5%;
    margin: 5px;
}

.row {
    background-color: #8F5684;
    /* border: black;
    border-style: solid;
    border-width: 1px;
    border-top: 1px; */
}


.imgz {
    margin-left: 40%;
    width: 50%;
}

.title {
    float: left;
    font-size: 20px;
    color: white;
}

.artist {
    float: left;
    font-size: 16px;
    color: white;
}

