.App {
	text-align: center;
	min-height: 100vh;
	background: rgb(48, 48, 48);
	font-family: Rubik;
}

.App-head {
	color: black;
	font-weight: bold;
	background-image: linear-gradient(to bottom right, rgb(171, 206, 235), rgb(228, 150, 228));
	margin: auto;
	height: auto;
}

.App-content {
	text-align: center;
	min-height: 100%;
	margin: auto;
	background: rgb(48, 48, 48);
	color: white;
	font-family: Rubik;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background: transparent;
	overflow: hidden;
}

body {
	background-color: #333;
	color: rgb(255, 255, 255);
	font-family: Helvetica, Arial;
	font-size: 3vmin;
}

.hidden {
	display: none;
}

/** Background **/

.background {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	filter: blur(8em) opacity(0.6);
	position: absolute;
}

.main-wrapper {
	align-items: center;
	display: flex;
	height: 100%;
	margin: 7.5% auto;
	justify-content: center;
	position: relative;
	width: 80%;
	z-index: 1;
}

.container {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
}

.main-container {
	flex: 1;
}

.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#app-playback {
	vertical-align: bottom;
}

.button {
	border: solid;
	border-radius: 30px;
	border-style: rounded;
	color: black;
	font-family: Rubik;
	padding: 10px;
	background-image: linear-gradient(to bottom right, rgb(171, 206, 235), rgb(228, 150, 228));
}

.button:hover {
	color: rgb(48, 48, 48);
	text-decoration: underline;
}

.a:hover {
	color: rgb(48, 48, 48);
	text-decoration: underline;
}

h1 {
	text-shadow: 2px 2px #080808;
}

.upper-row {
	height: 5vh;
	background: rgb(48, 48, 48);
}

.scrollable {
	height: 55vh;
	overflow: scroll;
	background: rgb(48, 48, 48);
}

#song-title {
	float: left;
	font-size: 20px;
	color: grey;
}